.status-button {
  width: 60px;
}

.sgk{
  background-color : transparent;
  width : 80%;
}
.opt{
    color : blue;
    background-color: transparent;
}
.status{
  background-color : transparent;
  width : 50%;
}
